
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
        }

        h1 {
            background-color: #333;
            color:aquamarine;
            text-align: center;
            padding: 10px;
        }
        img {
            width:300px;
        }
        h2 {
            font-size: 18px;
        }

        #timeline-ite {flex-basis: 30%;
        text-align: center;
        padding: 15px;
        margin: 10px;
        background-color: yellow;
        color: purple;
        border-radius: 5px;
    }

        .timeline-item {
            background-color: #e74c3c;
            flex-basis: 30%;
            text-align: center;
            padding: 15px;
            margin: 10px;
            
        }

        .timeline-i {
            background-color: #e74c3c;
            flex-basis: 30%;
            text-align: center;
            padding: 15px;
            margin: 10px;
        }

        .timeline-it {
            background-color: #27ae60;
            flex-basis: 30%;
            text-align: center;
            padding: 15px;
            margin: 10px;
        }

        .timeline-item:nth-child(4n) {
            background-color: #12f325;
        }

        .timeline-item:nth-child(5n) {
            background-color: #8e44ad;
        }

        table {
            width: 80%;
            margin: 40px auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #333;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #333;
            color: #fff;
        }

        .header {
           color:#e74c3c;
            font-size: 40px;
            font-family: fantasy;
            text-align: center;
        }
        .hover-color-change {
            color: red;
            transition: color 0.3s;
            font-size: 40px;
            font-family: fantasy;
            text-align: center;
          }
        
          .hover-color-change:hover {
            color: skyblue;
          }
          .I {
            font-size: 10px;
            font-family: fantasy;
            
          }
          footer {
            font-size: 60px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;


          }
    